@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@700&family=Public+Sans&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ibarra Real Nova', serif;
  font-family: 'Public Sans', sans-serif;
  background-color: #fff;
  min-height: 1000vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}


#header {
  padding-top: 45px;
}


.list__item {
  margin-right: 32px;
  list-style: none;
}

.header__logo {
  width: 60px;
  height: 32px;
}

.list__link {
  font-family: 'Public Sans', sans-serif;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #33323d;
}

.list__link:hover {
  color: #83888f;
}

.list__link:active {
  color: #333d4b;
}


.header__burger {
  background-image: url('../img/hamburg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  border: none;
  width: 25px;
  height: 25px;
  display: none;
}


#hero {
  padding-top: 94px;
}

.hero__img {
  width: 100%;
  height: auto; 
}



.btn {
  display: inline-block;
  padding: 17px 32px;
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  display: inline-block;
  letter-spacing: 2px;
  transition: all 0.3s ease;
  text-transform: uppercase;
  color: #33323d;
  border: 1px solid #33323d;  
}
.btn:hover {
  background-color: #83888f;
  color: #fff;
}
.btn:active {
  background-color: #5fb4a2;
  color: #33323d;
  border: 1px solid #33323d;
}

.hero__main {
  padding-top: 150px;
}

.hero__html {
  padding-top: 50px;
  padding-right: 100px;
}

.hero__title {
  position: relative;
  font-family: 'Ibarra Real Nova', serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  margin-bottom: 30px;
  color: #33323d;
}

.hero__title::before {
  content: '';
  width: 100%;
  display: inline-block;
  border-top: 1px solid #33323d;
  position: absolute;
  top: -40px;
  opacity: 0.15;
}


.hero__button {
  position: relative;
}
.hero__button::after  {
  content: '';
  width: 100%;
  position: absolute;
  bottom: -45px;
  left: 0;
  display: inline-block;
  border-bottom: 1px solid #33323d;
  opacity: 0.15;
}




.hero__text {
  width: 100%;
  font-size: 15px;
  line-height: 30px;
  color: #33323d;
  mix-blend-mode: normal;
  opacity: 0.8;
}


.hero__sub {
  width: 100%;
  font-size: 15px;
  line-height: 30px;
  color: #33323d;
  mix-blend-mode: normal;
  margin-bottom: 23px;
  opacity: 0.8;
}

.hero__info {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 16px;
  color: #5fb4a2
}

.hero__span {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: inline-block;
  margin-bottom: 32px;
  color : #5fb4a2;
}

.hero__name {
  font-family: 'Ibarra Real Nova' serif;
  width: 100%;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.285714px;
  margin-bottom: 28px;
  color: #33323d;
}



#bookmark {
  padding-top: 80px;
}

.book {
  position: relative;
}
.book::after {
  content: '';
  width: 100%;
  display: inline-block;
  position: absolute;
  bottom: -25px;
  left: -30px;
  border-bottom: 1px solid #33323d;
  opacity: 0.15;
}
.book::before {
  content: '';
  width: 100%;
  display: inline-block;
  position: absolute;
  top: -25px;
  left: -30px;
  border-top: 1px solid #33323d;
  opacity: 0.15;
}
.book__span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 150%;
  border: 1px solid #33323d;
  opacity: 0.15;
}
.book__name {
  width: 100%;
  position: relative;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.285714px;
  color: #33323D;
}
.book__text {
  width: 100%;
  font-size: 16px;
  line-height: 30px;
  color: #33323D;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.name {
  padding-left: 35px;
}
.text {
  padding-left: 35px;
}
.boooks {
  padding-top: 30px;
  text-align: right;
  padding-right: 55px;
}
.textss {
  text-align: right;
  padding-right: 150px;
}

.right {
  font-size: 35px;
  position: relative;
  top: 15px;
  right: -10px;
}

.left {
  position: relative;
  top: 50px;
  left: -10px;
  font-size: 35px;
}







#interested {
  padding-top: 150px;
  padding-bottom: 80px;
}


.doing__title {
  position: relative;
  width: 350px;
  font-family: 'Ibarra Real Nova', serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: #33323d;
}

.doing::after {
  content: '';
  height: 1px;
  background-color: #33323d;
  flex-grow: 1;
  order: 1;
  opacity: 0.15;
  margin: 0 32px;
}

.doing__button{
  order: 2;
}

#footer {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  background-color: #33323d;
}

.footer {
  padding-top: 30px;
}

.footer__img {
  margin-right: 48px;
}

.footer__link {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease
  ;
  color: #fff;
}
.footer__link:hover {
  color: #5fb4a2;
}
.footer__item {
  margin-right: 40px;
  list-style: none;
}

.footer__icon {
  font-size: 28px;
  margin-right: 10px;
  text-decoration: none;
  transition: all 0.3s ease;
  color: #fff;
}
.footer__icon:hover {
  color: #5fb4a2;
}

.footer__icons {
  display: flex;
  align-items: center;
  justify-content: center;
}





@media screen and (max-width: 986px) {
  .hero__main {
    padding-top: 20px;
  }
  .hero__titles {    -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
  }
  .hero__title {
    margin-bottom: 0;
  }
  .hero__main {
    flex-direction: column;
  }
  .flex {
    display: flex;
    -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
  }
  .displey {
   margin-right: 100px;
   -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}
.info {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}
  .hero__span {
    position: relative;
    top: -45px;
    width: 100%;
    margin-bottom: 0;
  }  
  .hero__info {
    position: relative;
    top: -50px;
    width: 100%;
  }
  .hero__pic {
    width: 100%;
  }
  .hero__picture {
    width: 100%;
  }
  .hero__button {
    margin-bottom: 60px;
  }
  .hero__desc {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

}

@media screen and (max-width: 750px) {
  .flex {
    display: flex;
    flex-direction: column;
  } 
  .hero__span {
    position: relative;
    top: 0;
    margin-bottom: 20px;
  } 
  .hero__info {
    top: 0;
  }
  .hero__titles {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .displey {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .info {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .hero__title {
    margin-bottom: 20px;
  }
  .hero__text {
    margin-bottom: 20px;
  }
  .hero__desc {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .hero__html {
    padding-right: 0;
  }
}


@media screen and (max-width: 680px) {

  .header__nav {
    position: fixed;
    top: 80px;
    right: -100%;
    width: 55%;
    height: 40vh;
    margin-right: 20px;
    background: #33323D;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in;
    z-index: 1000;
  }

  .list {
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
  }

  .list__link {
    font-family: 'Public Sans', sans-serif;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2px;
    color: #fff;

  }

  .list__item {
    margin-bottom: 32px;
  }

  .header__burger {
    display: flex;
    position: relative;
    z-index: 1000;
  }

  .header__nav.show {
    right: 0;
  }

  .header__burger.active {
    background-image: url('../img/close_black_24dp.svg');
  }
  #hero {
    padding-top: 20px;
  }
  .doing::after {
    display: none;
  }
  .doing {
    flex-direction: column;
    justify-content: center;
  }
  .doing__title {
    width: 311px;
    font-size: 40px;
    line-height: 42px;
    text-align: center; 
    letter-spacing: -0.357143px;
    margin-bottom: 40px;
  }
}


@media screen and (max-width: 578px) {

  .textss {
    padding-right: 0;
    text-align: center;
  }
  .boooks {
    padding-right: 0;
    text-align: center;
  }

}



@media screen and (max-width: 570px) {
  #footer {
    height: 260px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer__logo {
    margin: 0;
    flex-direction: column;
  }
  .footer__img {
    margin: 0;
    margin-bottom: 20px;
  }
  .footer__list {
    flex-direction: column;
  }
  .footer__item {
    margin: 0;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 475px) {
  .right  {
    top: -25px;
    right: -100px;
  }
  .boooks {
    position: relative;
    top: 23px;
  }
  .textss {
    position: relative;
    top: -17px;
    left: -18px;
  }
  .book__span {
    height: 135%;
  }
}
