@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@700&family=Public+Sans&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ibarra Real Nova', serif;
  font-family: 'Public Sans', sans-serif;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}


#header {
  padding-top: 45px;
}


.list__item {
  margin-right: 32px;
  list-style: none;
}

.header__logo {
  width: 60px;
  height: 32px;
}

.list__link {
  font-family: 'Public Sans', sans-serif;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #33323d;
}

.list__link:hover {
  color: #83888f;
}

.list__link:active {
  color: #333d4b;
}


.header__burger {
  background-image: url('../img/hamburg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  border: none;
  width: 25px;
  height: 25px;
  display: none;
}





/* hero */

#hero {
  padding-top: 45px;
}

.hero {
  position: relative;
  width: 100%;
  height: 85vh;
  background-image: url('../img/hero-img.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__main {
  position: absolute;
  bottom: 0;
  width: 445px;
  height: 357px;
  background-color:  #fafafa;
}


.hero__title {
  font-family: 'Ibarra Real Nova', serif;
  padding-top: 22px;
  width: 390px;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 53px;
  letter-spacing: -0.446429px;
  color: #33323d;
}


.hero__btn{
  position: relative;
  top:  -6px;
  left: -23px;
  padding: 17px 40px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 0.3s ease;
    text-decoration: none;
  background-color: #3e3d4b;
  color: #fff;
}

.hero__btn:hover {
  background-color: #5fb4a2;
}
.down {
  padding: 12px 15px;
  font-size: 24px;
  margin-right: 20px; 
  color: #5fb4a2;
  background-color: #33323d;
}


/* main */


#about {
  padding-top: 150px;
}

.about__img {
  width: 100%;
  height: 600px;
}


.about__title {
  position: relative;
  font-family: 'Ibarra Real Nova', serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  margin-bottom: 28px;
  color: #33323d;
}
.about__title::before {
  content: '';
  width: 100%;
  display: inline-block;
  position: absolute;
  top: -48px;
  border-top: 1px solid #33323d;
  opacity: 0.15;
}

.about__text {
  font-family: 'Public Sans', sans-serif;
  width: 350px;
  font-size: 16px;
  line-height: 30px;  
  color: #33323d;
  mix-blend-mode: normal;
  margin-bottom: 24px;
  opacity: 0.8;
}

.btn {
  display: inline-block;
  padding: 17px 32px;
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  transition: all 0.3s ease;
  text-transform: uppercase;
  color: #33323d;
  border: 1px solid #33323d;  
}
.btn:hover {
  background-color: #83888f;
  color: #fff;
}
.about__button {
  position: relative;
}
.about__button::after {
  content: '';
  width: 100%;
  display: inline-block;
  position: absolute;
  bottom: -45px;
  left: 0;
  border-bottom: 1px solid #33323d;
  opacity: 0.15;
}




#interested {
  padding-top: 150px;
  padding-bottom: 80px;
}


.doing__title {
  position: relative;
  width: 350px;
  font-family: 'Ibarra Real Nova', serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: #33323d;
}

.doing::after {
  content: '';
  height: 1px;
  background-color: #33323d;
  flex-grow: 1;
  order: 1;
  opacity: 0.15;
  margin: 0 32px;
}

.doing__button{
  order: 2;
}

#footer {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  background-color: #33323d;
}

.footer {
  padding-top: 30px;
}

.footer__img {
  margin-right: 48px;
}

.footer__link {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease
  ;
  color: #fff;
}
.footer__link:hover {
  color: #5fb4a2;
}
.footer__item {
  margin-right: 40px;
  list-style: none;
}

.footer__icon {
  font-size: 28px;
  margin-right: 10px;
  text-decoration: none;
  transition: all 0.3s ease;
  color: #fff;
}
.footer__icon:hover {
  color: #5fb4a2;
}

.footer__icons {
  display: flex;
  align-items: center;
  justify-content: center;
}









@media screen and (max-width: 960px) {
  .hero {
    background-position: center center;
  }
  .hero__main {
    width: 550px;
    height: 278px;
  }
  .hero__title {
    width: 458px;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
  }
  .about__boximg {
    width: 40%;
  }
}



@media screen and (max-width: 680px) {

  .header__nav {
    position: fixed;
    top: 80px;
    right: -100%;
    width: 55%;
    height: 40vh;
    margin-right: 20px;
    background: #33323D;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in;
    z-index: 1000;
  }

  .list {
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
  }

  .list__link {
    font-family: 'Public Sans', sans-serif;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2px;
    color: #fff;

  }

  .list__item {
    margin-bottom: 32px;
  }

  .header__burger {
    display: flex;
    position: relative;
    z-index: 1000;
  }

  .header__nav.show {
    right: 0;
  }

  .header__burger.active {
    background-image: url('../img/close_black_24dp.svg');
  }

  .hero {
     background-image: url('../img/mobil-hero-img.png');
  }
  .hero__main {
    bottom: -280px;
  }

  #about {
    padding-top: 350px;
  }
  .about {
    flex-direction: column;
    justify-content: center;
  }
  .about__boximg {
    width: 100%;
    margin-bottom: 80px;
  }
  .doing::after {
    display: none;
  }
  .doing {
    flex-direction: column;
    justify-content: center;
  }
  .doing__title {
    width: 311px;
    font-size: 40px;
    line-height: 42px;
    text-align: center; 
    letter-spacing: -0.357143px;
    margin-bottom: 40px;
  }
}


@media screen and (max-width: 570px) {
  #footer {
    height: 260px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer__logo {
    margin: 0;
    flex-direction: column;
  }
  .footer__img {
    margin: 0;
    margin-bottom: 20px;
  }
  .footer__list {
    flex-direction: column;
  }
  .footer__item {
    margin: 0;
    margin-bottom: 20px;
  }
}


@media screen and (max-width: 590px) {
  .hero {
    top: -80px;
    background-size: contain;
  }
  .hero__main {
    bottom: -150px;
    width: 100%;
    background-color: transparent;
  }
  .hero__title {
    width: 311px;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
  }
  #about {
    padding-top: 250px;
  }
  .about__img {
    height: auto;
  }
}

@media screen and (max-width: 420px) {
  .hero {
    top: -120px;
  }
  .hero__main {
    bottom: -110px;
  }
  #about {
    padding-top: 80px;
  }

  .about__text {
    width: 311px;
    font-size: 16px;
    line-height: 30px;
    color: #33323d;
    mix-blend-mode: normal;
    opacity: 0.8;
  }
}